
.wrapper {
    display: flex;
    min-height: 100vh;
    /* flex-direction: column; */
    margin: 0;
    background-color: rgb(235, 237, 244);
    width: 100%;
  }
  
  .app {
    flex: 1;
    display: flex;
    z-index: 8;
    position: relative;
  }
  
  /** Containers **/
  .wrapper .app-container {
    width: 100%;
  }
  
  .wrapper .app-container .app-main {
    flex: 1;
    flex-direction: column;
    display: flex;
    z-index: 12;
    padding: 0 1rem 1rem 23rem;
    transition: all .2s;
    padding-top: 2rem;
    width: 100%;
    transition: var(--main-transition);
  }
  
  .wrapper .app-container .app-main-close {
    padding: 1rem;
    transition: var(--main-transition);
  }


@media (max-width: 992px) {
  .wrapper .app-container .app-main {
    padding: 1rem;
  }
}

.open-menu-btn,
.close-menu-btn {
  mask-position: fixed;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-color);
  color: var(--main-color);
  border-top: 1px solid #e1e4e2;
  border-right: 1px solid #e1e4e2;
  border-bottom: 1px solid #e1e4e2;
  border-radius: 0 8px 8px 0;
  padding: 0.4rem 0;
  font-size: 2rem;
  cursor: pointer;
}

.close-menu-btn {
  transition: var(--main-transition);
  left: 0;
  bottom: 30%;
  width: 30px;
}

.open-menu-btn {
  transition: var(--main-transition);
  left: 21.6rem;
  bottom: 30%;
  width: 30px;
}