:root {
  --main-color: #06D889;
  --second-color: #212121;
  --third-color: rgba(255, 255, 255, 1);
  --main-radius: 15px;
  --main-light-color: rgba(255, 193, 7, 0.4);
  --green-color: green;
  --red-color: red;
  --home-color: #338e5f;
  --home-orange-color: #f04800;

  /* --main-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  --main-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);
  --second-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --main-transition: 1000ms;
  --p-size: 1.2rem;
}

/** Overrides **/
.btn {
  border: none !important
}

.btn-primary,
.bg-bd-main-hover {
  color: rgba(0, 0, 0, 0.6) !important;
  box-shadow: var(--second-shadow) !important;
  background: linear-gradient(270deg, var(--main-color), transparent) var(--main-color) !important;
  transition: background-color var(--main-transition) !important;
}

.btn-primary:hover,
.bg-bd-main-hover:hover {
  background-color: var(--second-color) !important;
  transition: var(--main-transition) !important;
}

.btn-secondary,
.bg-bd-second-hover {
  background: linear-gradient(270deg, var(--second-color), transparent) var(--second-color) !important;
  transition: background-color var(--main-transition) !important;
}

.btn-secondary:hover,
.bg-bd-second-hover:hover {
  background-color: var(--main-color) !important;
  transition: var(--main-transition) !important;
}

.bg-bd-main {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.main-shadow {
  box-shadow: var(--main-shadow);
}

.second-shadow {
  box-shadow: var(--second-shadow);
}

.main-radius {
  border-radius: var(--main-radius) !important;
}

.main-top-radius {
  border-top-left-radius: var(--main-radius);
  border-top-right-radius: var(--main-radius);
}

.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.23);
}

.shop-card {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: none;
  padding: 10px;
}

.main-color {
  color: var(--main-color);
}

/** Pagination **/
.page-item .page-link,
.page-item .page-link:hover {
  padding: 0.8rem var(--p-size);
  font-size: var(--p-size);
  color: var(--second-color);
}

.page-item.active .page-link {
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
  color: var(--third-color);
}

.hard-text {
  font-size: 2.3rem;
  font-weight: bold;
  color: var(--main-color);
}

h5 {
  font-weight: bold !important;
  font-size: 1.4rem !important;
}

span,
p {
  font-size: var(--p-size);
}

/** Home Page **/

.home .home-icons {
  display: inline-block;
  width: 5.3vh;
  height: 5.3vh;
  line-height: 5.3vh;
  text-align: center;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--second-color);
  margin-right: 0.8rem;
  font-size: 3.4vh;
}

.home .success-order,
.home .fail-order {
  font-size: 1.5rem;
  line-height: 3rem;
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.home .success-order {
  color: green;
}

.text-left {
  text-align: left !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-weight-normal {
  font-weight: normal !important;
}



.fixed-tabs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
}

.content-padding {
  padding-top: 50px;
  /* ou la hauteur de votre en-tête fixe */
}











/** HOME FIRST PAGE **/
.home-title {
  font-family: 'Smudger', sans-serif;
  font-size: 3rem !important;
  padding: 10px;
  color: var(--home-color);
  font-weight: bold;
  margin-bottom: 0;
}

.restaurant-pres {
  width: 100%;
  height: 50vh;
  /* background: url('../public/Cadre-restaurant.png');
  background-repeat: no-repeat;
  background-size: contain; 
  padding: 8px 10px;
  */
  border: solid 8px var(--home-color);
  z-index: 1000;
}

.restaurant-pres .restaurant-img {
  height: 65%;
  width: 100%;
  z-index: 100;
  display: block;
}

.restaurant-pres .restaurant-title,
.restaurant-pres .restaurant-subtitle,
.restaurant-closed,
.restaurant-access {
  text-align: center;
  font-weight: bold;
  margin: 0 !important;
}

.restaurant-pres .restaurant-title {
  font-size: 2rem;
  color: var(--home-orange-color);
  font-family: 'Roboto-Black', sans-serif;
}

.restaurant-pres .restaurant-subtitle {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 1.5rem;
}

.restaurant-closed {
  font-size: 1.3rem;
  width: 100%;
  background-color: var(--home-color);
  color: white;
  border-radius: 10px;
  font-family: 'Roboto-Bold', sans-serif;
}

.restaurant-access {
  font-size: 2.8rem;
  color: var(--home-color);
  line-height: 2.8rem;
  cursor: pointer;
  font-family: 'Roboto-Bold', sans-serif;
}

.restaurant-access-i {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--home-color);
}

/** CATALOG PAGE **/
.restaurant-card {
  background-color: var(--home-color);
  display: block;
  margin: auto;
  width: 80%;
  text-align: center;
  color: white;
  padding: 5px;
  padding-top: 20px;
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: bold;
}

.restaurant-card-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  padding: 15px;
  border-radius: 100%;
  background-color: var(--home-color);
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
}




/** HOME FOOTER **/
.home-footer {
  height: 17vh;
  /* Ajusté pour être responsive */
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  /* Utilisation de Flexbox */
  justify-content: space-between;
}

.home-footer .bg-footer,
.home-footer .serveur-footer {
  flex: 1;
  /* Flexibilité des éléments enfants */
  display: inline-block;
}

.home-footer .bg-footer {
  width: 65%;
  background-color: var(--home-color);
  position: absolute;
  /* Modifié pour un positionnement relatif */
  height: 50%;
  bottom: 0;
}

.home-footer .serveur-footer {
  background: url('../public/Serveur-1.png');
  width: 35%;
  /* Ajusté pour la responsivité */
  position: relative;
  /* Modifié pour un positionnement relatif */
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 65%;
}

.catalog {
  border: solid 2px var(--home-color);
  height: 15vh;
  margin-bottom: 1rem;
  cursor: pointer;
}

.catalog.active{
  background-color: var(--home-color);
  cursor: unset;
}

.catalog-title {
  font-family: 'Smudger', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--home-color);
  margin-top: 1.6rem;
  margin-left: 15px;
}

.catalog.active .catalog-title{
  color: white;
}

.catalog .catalog-img 
{
  height: 80%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  border-bottom-left-radius: 80%;
}

.catalog-fa {
  font-size: 3rem;
  color: var(--home-color);
}

.catalog-products {
  background-color: var(--home-orange-color);
  text-align: center;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  height: 80%;
  padding: 20px;
  color: white;
}

.catalog-products .cp-title {
  font-family: 'Smudger', sans-serif;
  font-weight: bold;
  font-size: 2.2rem;
}

.catalog-products .cp-product-name
{ 
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Robot-bold', sans-serif;
}

.catalog-products .cp-product-ingredients 
{
  font-size: 0.8rem;
  font-family: 'Robot-bold', sans-serif;
}

.catalog-products .cp-product-btn 
{
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Robot-bold', sans-serif;
  background-color: white;
  color: var(--home-color);
  padding: 2px 15px;
  border-radius: 10px;
  margin-top: 5px;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}