:root {
  --main-color: #06D889;
  --second-color: #212121;
  --third-color: rgba(255, 255, 255, 1);
  --main-radius: 15px;
  --main-light-color: rgba(255, 193, 7, 0.4);
  --green-color: green;
  --red-color: red;

  /* --main-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  --main-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);
  --second-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --main-transition: 1000ms;
  --p-size: 1.2rem;
}

/** Overrides **/
.btn {
  border: none !important
}

.btn-primary,
.bg-bd-main-hover {
  color: rgba(0, 0, 0, 0.6) !important;
  box-shadow: var(--second-shadow) !important;
  background: linear-gradient(270deg, var(--main-color), transparent) var(--main-color) !important;
  transition: background-color var(--main-transition) !important;
}

.btn-primary:hover,
.bg-bd-main-hover:hover {
  background-color: var(--second-color) !important;
  transition: var(--main-transition) !important;
}

.btn-secondary,
.bg-bd-second-hover {
  background: linear-gradient(270deg, var(--second-color), transparent) var(--second-color) !important;
  transition: background-color var(--main-transition) !important;
}

.btn-secondary:hover,
.bg-bd-second-hover:hover {
  background-color: var(--main-color) !important;
  transition: var(--main-transition) !important;
}

.bg-bd-main {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.main-shadow {
  box-shadow: var(--main-shadow);
}

.second-shadow {
  box-shadow: var(--second-shadow);
}

.main-radius {
  border-radius: var(--main-radius) !important;
}

.main-top-radius {
  border-top-left-radius: var(--main-radius);
  border-top-right-radius: var(--main-radius);
}

.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.23);
}

.shop-card {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: none;
  padding: 10px;
}

.main-color {
  color: var(--main-color);
}

/** Pagination **/
.page-item .page-link,
.page-item .page-link:hover {
  padding: 0.8rem var(--p-size);
  font-size: var(--p-size);
  color: var(--second-color);
}

.page-item.active .page-link {
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
  color: var(--third-color);
}

.hard-text {
  font-size: 2.3rem;
  font-weight: bold;
  color: var(--main-color);
}

h5 {
  font-weight: bold !important;
  font-size: 1.4rem !important;
}

span,
p {
  font-size: var(--p-size);
}

/** Home Page **/

.home .home-icons {
  display: inline-block;
  width: 5.3vh;
  height: 5.3vh;
  line-height: 5.3vh;
  text-align: center;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--second-color);
  margin-right: 0.8rem;
  font-size: 3.4vh;
}

.home .success-order,
.home .fail-order {
  font-size: 1.5rem;
  line-height: 3rem;
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.home .success-order {
  color: green;
}

.text-left {
  text-align: left !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-weight-normal {
  font-weight: normal !important;
}



.fixed-tabs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
}

.content-padding {
  padding-top: 50px; /* ou la hauteur de votre en-tête fixe */
}