:root {
  --main-color: #FFC107;
  --second-color: #212121;
  --third-color: rgba(255, 255, 255, 0.8);
  --main-radius: 15px;
  /* --main-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  --main-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);
  --second-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --main-transition: 1000ms;
  --p-size: 1.2rem;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  /* flex-direction: column; */
  margin: 0;
  background-color: rgb(235, 237, 244);
  width: 100%;
}

.app {
  flex: 1;
  display: flex;
  z-index: 8;
  position: relative;
}

/** Containers **/
.wrapper .app-container {
  width: 100%;
}

.wrapper .app-container .app-sidebar {
  position: fixed;
  left: 30px;
  top: 30px;
  height: calc(100% - 60px);
  z-index: 14;
}

.wrapper .app-container .app-main {
  flex: 1;
  flex-direction: column;
  display: flex;
  z-index: 12;
  padding: 0 1rem 1rem 23rem;
  transition: all .2s;
  padding-top: 2rem;
  width: 100%;
  transition: var(--main-transition);
}

.wrapper .app-container .app-main-close {
  padding: 1rem;
  transition: var(--main-transition);
}

.wrapper .app-container .app-sidebar .sidebar {
  background-color: var(--second-color);
  height: 100%;
  border-radius: var(--main-radius);
  width: 20rem;
  color: var(--third-color);
  box-shadow: var(--main-shadow);
}

.wrapper .app-sidebar-close {
  transform: translateX(-21.6rem);
  transition: var(--main-transition);
}

.wrapper .app-sidebar-open {
  transform: translateX(O);
  transition: var(--main-transition);
}

.open-menu-btn,
.close-menu-btn {
  mask-position: fixed;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-color);
  color: var(--main-color);
  border-top: 1px solid #e1e4e2;
  border-right: 1px solid #e1e4e2;
  border-bottom: 1px solid #e1e4e2;
  border-radius: 0 8px 8px 0;
  padding: 0.4rem 0;
  font-size: 2rem;
  cursor: pointer;
}

.close-menu-btn {
  transition: var(--main-transition);
  left: 0;
  bottom: 30%;
  width: 30px;
}

.open-menu-btn {
  transition: var(--main-transition);
  left: 21.6rem;
  bottom: 30%;
  width: 30px;
}

@media (max-width: 992px) {
  /*
  .wrapper .app-sidebar {
    transform: translateX(-21.6rem);
    display: block;
  } */

  .wrapper .app-container .app-main {
    padding: 1rem;
  }
}

/** Sidebar **/

.sidebar .sidebar-ul {
  list-style: none;
  padding: 20px;
}

.sidebar .sidebar-list-item {
  padding: 15px 0;
  font-size: var(--p-size);
}

.sidebar .sidebar-list-item {
  padding: 17px;
  border-radius: var(--main-radius);
  margin-bottom: 10px;
}

.sidebar .sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.16);
  transition: var(--main-transition);
}

.sidebar .sidebar-list-item.active {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  background: rgb(33, 33, 33);
  background: -moz-linear-gradient(280deg, rgba(33, 33, 33, 1) 5%, rgba(255, 193, 7, 1) 95%);
  background: -webkit-linear-gradient(280deg, rgba(33, 33, 33, 1) 5%, rgba(255, 193, 7, 1) 95%);
  background: linear-gradient(280deg, rgba(33, 33, 33, 1) 5%, rgba(255, 193, 7, 1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#212121", endColorstr="#ffc107", GradientType=1);
}


/** Table **/

.wrapper .table-list .table {
  border-radius: var(--main-radius);
  box-shadow: var(--main-shadow);
}

.wrapper .table-list .table> :not(caption)>*>* {
  padding: 1.3rem 0.5rem;
}

.wrapper .table-list .table td {
  text-align: center;
  vertical-align: middle;
}

.wrapper .table-list .table thead {
  /*
  background-color: var(--main-color) ;
  border-radius: var(--main-radius); */
}

.wrapper .table-list .table thead th:first-child {
  border-top-left-radius: var(--main-radius);
}

.wrapper .table-list .table thead th:last-child {
  border-top-right-radius: var(--main-radius);
}

.wrapper .table-list .table {
  font-size: var(--p-size);
}

.wrapper .app-container .form-label {
  font-size: var(--p-size);
}



/** Overrides **/

.btn {
  border: none !important
}

.btn-primary,
.bg-bd-main-hover {
  color: rgba(0, 0, 0, 0.6) !important;
  box-shadow: var(--second-shadow) !important;
  background: linear-gradient(90deg, var(--main-color), transparent) var(--main-color) !important;
  transition: background-color var(--main-transition) !important;
}

.btn-primary:hover,
.bg-bd-main-hover:hover {
  background-color: var(--second-color) !important;
  transition: var(--main-transition) !important;
}

.btn-secondary,
.bg-bd-second-hover {
  background: linear-gradient(90deg, var(--second-color), transparent) var(--second-color) !important;
  transition: background-color var(--main-transition) !important;
}

.btn-secondary:hover,
.bg-bd-second-hover:hover {
  background-color: var(--main-color) !important;
  transition: var(--main-transition) !important;
}

.bg-bd-main {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.main-shadow {
  box-shadow: var(--main-shadow);
}

.second-shadow {
  box-shadow: var(--second-shadow);
}

.main-radius {
  border-radius: var(--main-radius);
}

.main-top-radius {
  border-top-left-radius: var(--main-radius);
  border-top-right-radius: var(--main-radius);
}

.card {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.23);
}

.main-color {
  color: var(--main-color);
}

/*
.page-item:not(:first-child):not(:last-child) .page-link
{
  background-color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
}
*/

/** Pagination **/
.page-item .page-link, .page-item .page-link:hover  {
  padding: 0.8rem var(--p-size);
  font-size: var(--p-size);
  color: var(--second-color);
}

.page-item.active .page-link {
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
  color: var(--third-color);
}