.btn:hover {
    opacity: 0.9;
}

.btn-facebook, .btn-facebook:hover {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}


.btn-social {
    position: relative;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
